.Histogram {
  width: 100%;
  min-width: 782px;
  min-height: 200px;

  &__Content {
    margin-top: var(--space-m);

    display: grid;

    min-height: 244px;
    grid-gap: var(--space-m) 120px;
    grid-template-columns: 545px 545px;
  }

  &__Loader {
    margin-top: var(--space-3xl);

    min-height: 244px;
  }

  &__Header {
    display: flex;
    align-items: center;
  }

  &__ActiveRow {
    margin-left: var(--space-4xl);

    display: flex;
  }
}
