.HistogramStatistics {
  padding-bottom: var(--space-3xl);

  display: grid;
  grid-template-columns: 167px 109px;
  grid-gap: var(--space-l);

  &__Rows {
    display: grid;
    grid-template-columns: repeat(2, 66px);
  }

  &__Row {
    padding: var(--space-2xs) calc(var(--space-xs) + var(--space-3xs));

    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 100%;

    font-size: 14px;
    line-height: 120%;
    text-align: right;
    white-space: nowrap;

    color: var(--color-typo-secondary);
    border-bottom: 1px solid var(--color-bg-border);

    &_last {
      justify-content: flex-start;

      text-align: left;

      color: var(--color-typo-primary);

      border-left: 1px solid var(--color-bg-border);
    }
  }

  &__Loader {
    margin-top: var(--space-m);

    min-height: 244px;
  }

  &__Wrapper {
    padding-bottom: var(--space-2xl);

    display: grid;
    grid-template-columns: repeat(2, 545px);
    grid-gap: 80px 120px;
  }

  &__Statistics {
    margin-top: var(--space-s);

    display: grid;
    grid-gap: 0 var(--space-xl);
    grid-template-columns: repeat(2, 1fr);

    & > :first-child {
      & .HistogramStatistics__Rows {
        grid-template-columns: 194px 66px;
      }
    }
  }
}
