.Vertical {
  display: flex;

  &__Title {
    display: flex;
    align-items: center;

    &_block {
      margin-top: -4px;
      margin-right: var(--space-xs);
    }
  }

  &__More {
    margin-left: 28px;
  }
}
