.DownloadResultModal {
  &__Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space-2xs) var(--space-m) var(--space-xl);
  }
}

.Modal-Window {
  width: 520px;
  min-height: 100px;
}
