.DownloadResultModal {
  &__Content {
    padding: var(--space-2xs) var(--space-m) var(--space-xl);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.download-result-modal {
  width: 520px;
  min-height: 100px;
}
