.vertical {
  display: flex;

  &__title {
    display: flex;

    font-size: 16px;
    line-height: 120%;

    cursor: pointer;

    color: var(--color-typo-primary);
  }

  &__more {
    margin-left: var(--space-s);
  }
}
