.Menu {
  display: grid;
  padding: 18px var(--space-s);
  grid-gap: var(--space-m);
  background-color: var(--color-bg-default);
  border: 1px solid var(--color-bg-border);
  border-radius: var(--control-radius);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.04), 0 4px 16px rgba(0, 32, 51, 0.18);

  &__AnalysisTitle {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: var(--space-2xs);
    font-size: var(--size-text-2xs);
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: -8px;
  }

  &__Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--size-text-s);
    line-height: 20px;
    cursor: pointer;
    color: var(--color-typo-primary);
  }

  &__Left {
    display: flex;
  }

  &__Disabled {
    pointer-events: none;
    color: var(--color-control-typo-disable);
  }

  &__Switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__Column {
    flex-direction: column;
    align-items: initial;
  }

  &__Border {
    padding-top: 15px;
    border-top: 1px solid var(--color-bg-border);
  }

  &__Icon {
    margin-right: var(--space-xs);
  }
  &:not(:first-child) {
    & .Menu__BorderTitle {
      margin-top: 15px;
    }
  }
}
