.SensitiveAnalysis {
  overflow: auto;
  width: 100%;
  position: relative;

  &__Title {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    padding-right: 5px;
    cursor: pointer;
    color: var(--color-typo-primary);
  }

  &__Content {
    margin-top: var(--space-m);
    display: grid;
    min-height: 246px;
    .tabsWrapper {
      width: 224px;
    }
  }

  &__Loader {
    margin-top: var(--space-4xl);
  }

  &__Actions {
    padding: var(--space-m) 0;
    text-align: right;
  }
  &:first-of-type {
    padding-bottom: var(--space-m) !important;
  }
}
