.sensitive-analysis {
  overflow: auto;
  width: 100%;

  &__title {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    cursor: pointer;
    user-select: none;
    color: var(--color-typo-primary);

    &--statistic {
      cursor: initial;
    }
  }

  &__content {
    margin-top: var(--space-m);
    display: grid;
    grid-template-rows: 1fr 1fr;
    min-height: 246px;
  }

  &__loader {
    margin-top: var(--space-4xl);
  }

  &__actions {
    padding: var(--space-m) 0;
    text-align: right;
  }
}
