.RbResultPage {
  position: relative;

  display: flex;
  flex-direction: column;
  flex: 1;
}

.Header {
  padding: var(--space-xs) var(--space-m);

  display: flex;
  flex-direction: row;
  align-items: center;
}

.Content {
  overflow-x: auto;
  padding: 0 16px;
}

.ButtonStructure {
  margin: 0 var(--space-s);
}

.ButtonData {
  margin-right: var(--space-s);
}

.RightPanel {
  padding: var(--space-s);

  overflow-y: auto;

  max-width: 400px;
  height: 100%;
  max-height: calc(100vh - 100px);
}

.FluidTypesChoiceGroup {
  margin: 8px 0;
}
