.RbResultPage {
  position: relative;

  display: flex;
  flex-direction: column;
  flex: 1;
}

.Tabs {
  padding: var(--space-xs);
}

.Header {
  padding: var(--space-xs) var(--space-m);

  display: flex;
  flex-direction: row;
  align-items: center;
}

.Content {
  display: flex;
  flex: 1;

  justify-content: space-between;
}

.ButtonStructure {
  margin: 0 var(--space-s);
}

.ButtonData {
  margin-right: var(--space-s);
}

.LeftPanel {
  display: flex;

  border: none;
  flex: 1;
}

.RightPanel {
  padding: var(--space-s);

  overflow-y: auto;

  max-width: 400px;
  height: 100%;
  max-height: calc(100vh - 100px);
}
