.RbResultPage {
  position: relative;

  display: flex;
  flex-direction: column;
  flex: 1;
}

.Header {
  padding: var(--space-xs) var(--space-m);

  display: flex;
  flex-direction: row;
  align-items: center;
}

.content {
  overflow-x: auto;
}

.ButtonStructure {
  margin: 0 var(--space-s);
}

.ButtonData {
  margin-right: var(--space-s);
}

.RightPanel {
  padding: var(--space-s);

  overflow-y: auto;

  max-width: 400px;
  height: 100%;
  max-height: calc(100vh - 100px);
}

.result {
  &__graphs {
    padding-top: var(--space-l);
    padding-left: var(--size-text-m);

    display: flex;

    &_hide {
      display: none;
    }
  }

  &__analysis {
    margin-right: var(--space-2xl);
  }

  &__sidebar {
    margin-top: var(--space-3xl);
    padding: var(--space-l);

    min-width: 736px;
  }

  &__icons {
    margin-left: var(--space-m);
  }

  &__icon {
    cursor: pointer;

    margin-left: var(--space-m);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: var(--space-s) var(--space-m);
  }

  &__table {
    height: 470px;

    &_full {
      height: calc(100vh - 100px);
    }
  }
}

// TODO: Удалить, это дубли vega-ui, нужно убрать везде vega-ui тогда можно будет удалить
.ChoiceGroup-Label:first-child::after {
  width: inherit !important;
}
