.table {
  height: 100%;

  .TableCell_isHeader {
    min-width: 80px;

    font-size: var(--size-text-xs);
    font-weight: 400;

    text-transform: inherit;

    color: var(--color-typo-primary);

    &:nth-child(6) {
      & > div {
        padding-right: 48px;
      }
    }
  }

  .TableCell:not(.TableCell_isHeader) {
    font-size: var(--font-size);
    line-height: var(--row-height);
  }

  ._all {
    font-weight: 600;
  }

  ._no-right-border {
    border-left: 0 !important;
  }
}
