.LoadingModeContent {
  &__Header {
    margin-bottom: var(--space-m);

    display: flex;
    justify-content: space-between;
    align-items: center;

    .Text {
      flex-grow: 1;
    }
  }

  &__Body {
    margin-bottom: var(--space-xl);

    display: flex;
    flex-direction: column;

    .Loader {
      margin: var(--space-3xl) 0;
    }
  }

  &__Footer {
    display: flex;
    justify-content: flex-end;
  }
}
